Source: qmidinet
Section: contrib/sound
Priority: extra
Maintainer: Rui Nuno Capela <rncbc@rncbc.org>
Build-Depends: debhelper (>= 10), cmake, pkg-config,
  qtchooser, qtbase5-dev (>= 5.1), qtbase5-dev-tools (>= 5.1),
  qttools5-dev (>= 5.1), qttools5-dev-tools (>= 5.1),
  libqt5svg5-dev, libqt5waylandclient5-dev | qtwayland5-dev-tools,
  libasound2-dev, libjack-dev | libjack-jackd2-dev
Standards-Version: 3.9.7

Package: qmidinet
Architecture: any
Depends: libjack0 | libjack-jackd2-0,
  ${shlibs:Depends},
  ${misc:Depends}
Description: A MIDI Network Gateway via UDP/IP Multicast
 A MIDI network gateway application that sends and receives MIDI data
 (ALSA Sequencer and/or JACK MIDI) over the network, using UDP/IP multicast.
 Inspired by multimidicast (http://llg.cubic.org/tools) and designed to be
 compatible with ipMIDI for Windows (http://nerds.de).

