[Desktop Entry]
Name=QmidiNet
GenericName=MIDI Network Gateway
Comment=QmidiNet is a MIDI network gateway via UDP/IP multicast
Exec=qmidinet
Icon=qmidinet
Categories=Audio;AudioVideo;MIDI;ALSA;Qt;
Terminal=false
Type=Application
X-SuSE-translate=true
